@use 'variables'

* 
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: 'Argentum Sans Regular'


@font-face 
  font-family: Argentum Sans Regular
  src: url(../font/argentum-sans.regular.ttf)
    

html, body, #root
  height: 100%
  
button
  background-color: none
  outline: none
  
a 
  text-decoration: none
  outline: none
 

li
  list-style: none
  